.navbar-container {
  /* position:sticky;
  top: 0; */
  width:100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2rem;
  padding-block:1.5rem;
  z-index:1;
}

.navbar-container a {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  color: var(--text-milk-white-color);
  transition: all ease-in-out 300ms;
  
}

.navbar-container a:hover {
  letter-spacing: var(--letter-spacing-wide);
  transform: scale(1.1);
  cursor:pointer;
}

.navbar-container a.active {
  background: var(--gradient-color);
  background-clip: text;
  color:transparent;
  transform: scale(1.1);
  letter-spacing: var(--letter-spacing-wide);
}

.input-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(90deg, var(--bg-color), var(--bg-color)), var(--gradient-color);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border-radius: 16px;
  border: 3.5px solid transparent;
}

.search-input {
  border: none;
  background-color: var(--bg-color);
  border:none;
  border-radius: 12px;
  padding:8px 16px;
  color: var(--text-milk-white-color);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.search-input:focus{
  outline:none;
}

.search-input:focus + .search-icon{
  font-size: var(--font-size-xl);
  transition: all ease-in-out 300ms;
}

.search-icon {
  color: var(--text-milk-white-color);
  font-size: var(--font-size-lg);
  position: absolute;
  right:0;
  top:0;
  bottom:-5px;
  background-color: transparent;
  border:none;
}

#select-language{
  padding:8px 16px;
  border:none;
  border-radius: 12px;
  background-color: var(--bg-color);
  color: var(--text-milk-white-color);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  width: max-content;
  cursor: pointer;
}

#select-language option {
  border:none;
  font-size: var(--font-size-md);
  padding:20px;
}

#select-language:focus {
  outline:none;
}

#select-language option:hover {
  padding-block:1rem;
  background-color: var(--bg-color);

}

